<template>
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link has-text-centered is-dropdown-toggler">
            <icon-base v-bind:name="map.nextMarkerIcon" />
        </a>

        <div class="navbar-dropdown">
            <a v-on:click="map.nextMarkerIcon = 'CIRCLE'" class="navbar-item">
                <icon-base name="CIRCLE" />
            </a>
            <a v-on:click="map.nextMarkerIcon = 'SQUARE'" class="navbar-item">
                <icon-base name="SQUARE" />
            </a>
            <a v-on:click="map.nextMarkerIcon = 'TRIANGLE'" class="navbar-item">
                <icon-base name="TRIANGLE" />
            </a>
            <a v-on:click="map.nextMarkerIcon = 'OCTAGON'" class="navbar-item">
                <icon-base name="OCTAGON" />
            </a>
            <a v-on:click="map.nextMarkerIcon = 'DISC'" class="navbar-item">
                <icon-base name="DISC" />
            </a>
            <a v-on:click="map.nextMarkerIcon = 'LIFE_BUOY'" class="navbar-item">
                <icon-base name="LIFE_BUOY" />
            </a>
            <a v-on:click="map.nextMarkerIcon = 'STAR'" class="navbar-item">
                <icon-base name="STAR" />
            </a>
            <a v-on:click="map.nextMarkerIcon = 'TARGET'" class="navbar-item">
                <icon-base name="TARGET" />
            </a>
            <a v-on:click="map.nextMarkerIcon = 'X_CIRCLE'" class="navbar-item">
                <icon-base name="X_CIRCLE" />
            </a>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import { State, Getter, Action, Mutation, namespace } from 'vuex-class';

    import IconBase from '../IconBase.vue';

    import { CustomMap } from '@/ts/custom-map';

    @Component({
        components: {
            IconBase,
        },
    })
    export default class BarIconSelector extends Vue {
        @State('map') private map!: CustomMap;
    }
</script>
