<template>
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-dropdown-toggler">
            <icon-base name='SLIDERS' />
        </a>

        <div class="navbar-dropdown has-text-centered">
            <div>
                <div class="navbar-item">
                    <!-- 'v-model' is just the shortcut for: ':value="dataProperty" @input="dataProperty = $event.target.value"' -->
                    <input v-bind:value="map.lowLimitValue" v-on:input="map.updateLowLimitValue($event.target.value)" class="slider" step="0.01" min="0" max="1000" type="range">
                </div>
                <div>
                    <a v-bind:style="{
                        backgroundColor: map.lowLimitColor,
                        borderColor: blendColors(map.lowLimitColor, '#000000', 0.3)
                    }"
                    v-on:mouseover="genColorButtonStyle($event.target, map.lowLimitColor, 0.1)"
                    v-on:mouseleave="genColorButtonStyle($event.target, map.lowLimitColor)"
                    v-on:click="lowPalette = ! lowPalette"
                    class="button is-small is-rounded palette-color is-marginless"></a>

                    <input v-bind:value="map.lowLimitValue" v-on:input="map.updateLowLimitValue($event.target.value)" class="input is-small is-rounded number-input"  min="0" max="1000" type="number">
                </div>
                <div v-if="lowPalette" class="has-small-top-margin">
                    <a v-for="(color) in PALETTE"
                    v-bind:style="{
                        backgroundColor: color,
                        borderColor: blendColors(color, '#000000', 0.3)
                    }"
                    v-on:mouseover="genColorButtonStyle($event.target, color, 0.1)"
                    v-on:mouseleave="genColorButtonStyle($event.target, color)"
                    v-on:click="map.updateLowLimitColor(color)"
                    class="button is-small is-rounded palette-color"></a>
                </div>
            </div>

            <hr class="navbar-divider has-small-top-margin">

            <div>
                <div class="navbar-item">
                    <input v-bind:value="map.highLimitValue" v-on:input="map.updateHighLimitValue($event.target.value)" class="slider" step="0.01" min="0" max="1000" type="range">
                </div>
                <div>
                    <a v-bind:style="{
                        backgroundColor: map.highLimitColor,
                        borderColor: blendColors(map.highLimitColor, '#000000', 0.3)
                    }"
                    v-on:mouseover="genColorButtonStyle($event.target, map.highLimitColor, 0.1)"
                    v-on:mouseleave="genColorButtonStyle($event.target, map.highLimitColor)"
                    v-on:click="highPalette = ! highPalette"
                    class="button is-small is-rounded palette-color is-marginless"></a>

                    <input v-bind:value="map.highLimitValue" v-on:input="map.updateHighLimitValue($event.target.value)" class="input is-small is-rounded number-input" min="0" max="1000" type="number">
                </div>
                <div v-if="highPalette" class="has-small-top-margin">
                    <a v-for="(color) in PALETTE"
                    v-bind:style="{
                        backgroundColor: color,
                        borderColor: blendColors(color, '#000000', 0.3)
                    }"
                    v-on:mouseover="genColorButtonStyle($event.target, color, 0.1)"
                    v-on:mouseleave="genColorButtonStyle($event.target, color)"
                    v-on:click="map.updateHighLimitColor(color)"
                    class="button is-small is-rounded palette-color"></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import { State, Getter, Action, Mutation, namespace } from 'vuex-class';

    import { COLORS } from '@/ts/constants';
    import { blendColors } from '@/ts/blender';
    import { CustomMap } from '@/ts/custom-map';
    import IconBase from '../IconBase.vue';

    @Component({
        components: {
            IconBase,
        },
    })
    export default class BarLimits extends Vue {
        @State('map') private map!: CustomMap;

        private readonly PALETTE = [
            COLORS.BLUE,
            COLORS.GREEN,
            COLORS.YELLOW,
            COLORS.ORANGE,
            COLORS.RED,
            COLORS.PURPLE,
            COLORS.GREY,
            COLORS.WHITE,
        ];
        private lowPalette: boolean = false;
        private highPalette: boolean = false;

        private blendColors(color1: string, color2: string, percentage: number): string {
            return blendColors(color1, color2, percentage);
        }

        private genColorButtonStyle(element: any, color: string, percentage?: number) {
            if (percentage === undefined) {
                element.style.backgroundColor = color;
                element.style.borderColor = blendColors(color, '#000000', 0.3);
            } else {
                element.style.backgroundColor = blendColors(color, '#000000', percentage);
                element.style.borderColor = blendColors(color, '#000000', percentage + 0.3);
            }
        }
    }
</script>

<style scoped>
    .palette-color {
        border-width: 2px;
        margin: 0.2rem;
    }

    .has-small-top-margin {
        margin-top: 0.75rem;
    }

    .number-input {
        width: 80px;
    }

    .slider {
        -webkit-appearance: none;
        width: 120px;
        height: 4px;
        border-radius: 5px;
        background: #d4d4d4;
        outline: none;
        opacity: 1;
        margin: 0.5rem;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #4a4a4a;
        cursor: pointer;
    }
</style>
