<template>
    <section class="hero is-fullheight">
        <Bar />
        <Map />
    </section>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Getter, Action, Mutation, namespace } from 'vuex-class';

import Bar from '@/components/Bar.vue';
import Map from '@/components/Map.vue';

import { CustomMap } from '@/ts/custom-map';

@Component({
    components: {
        Bar,
        Map,
    },
})
export default class Home2 extends Vue {
    @State('map') private map!: CustomMap;

    private mounted(): void {
        this.map.generateMap();
    }
}
</script>
