<template>
    <nav id='bar' class='navbar is-fixed-top is-visible'>
        <div class='navbar-brand'>
            <div class='navbar-item'>
                Mapview
            </div>

            <a role='button' class='navbar-burger' data-target='navMenu' aria-label='menu' aria-expanded='false'>
                <span aria-hidden='true'></span>
                <span aria-hidden='true'></span>
                <span aria-hidden='true'></span>
            </a>
        </div>
        <div id='navMenu' class='navbar-menu'>
            <div class='navbar-start'>
                <div class='navbar-item'>
                    |
                </div>

                <bar-tile-selector />

                <div class='navbar-item'>{{ map.getNumberOfMarkers() }}</div>

                <bar-icon-selector />

                <a v-on:click='map.toggleMarkers()' class='navbar-item is-anchor-toggler'>
                    <icon-base name='CIRCLE_OFF' />
                </a>

                <a v-on:click='map.toggleNumbers()' class='navbar-item  is-anchor-toggler'>
                    <icon-base name='NUMBER_OFF' />
                </a>

                <a v-on:click='map.toggleLines()' class='navbar-item is-anchor-toggler'>
                    <icon-base name='SHARE_OFF' />
                </a>

                <a v-on:click='map.toggleImages()' class='navbar-item is-anchor-toggler'>
                    <icon-base name='IMAGE_OFF' />
                </a>

                <a v-on:click='map.selectMarkers()' class='navbar-item'>
                    <icon-base name='CROP' />
                </a>

                <a v-on:click='map.clean()' class='navbar-item'>
                    <icon-base name='TRASH' />
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link is-dropdown-toggler">
                        <icon-base name='SEARCH' />
                    </a>

                    <div class="navbar-dropdown">
                        <a v-on:click="map.zoomIn()" class="navbar-item">
                            <icon-base name='ZOOM_IN' />
                        </a>
                        <a v-on:click="map.zoomOut()" class="navbar-item">
                            <icon-base name='ZOOM_OUT' />
                        </a>
                        <a v-on:click="map.resetView()" class="navbar-item">
                            <icon-base name='GLOBE' />
                        </a>
                    </div>
                </div>

                <bar-limits />
            </div>

            <div class='navbar-end'>
                <a class='navbar-item file'>
                    <label class='file-label'>
                        <input v-on:change='readFile($event.target)' class='file-input' type='file' accept='.f25,.json'>
                        <span class='file-cta'>
                            <icon-base name='FILE_PLUS' />
                        </span>
                    </label>
                </a>

                <a class='navbar-item file'>
                    <label class='file-label'>
                        <input v-on:change='readImage($event.target)' class='file-input' type='file' accept='.png,.jpg,.jpeg'>
                        <span class='file-cta icon'>
                            <icon-base name='IMAGE' />
                        </span>
                    </label>
                </a>

                <a v-on:click='screenshot()' class='navbar-item'>
                    <icon-base name='CAMERA' />
                </a>

                <a v-on:click='save()' class='navbar-item'>
                    <icon-base name='ARCHIVE' />
                </a>
            </div>
        </div>
    </nav>
</template>

<script lang='ts'>
    import { Component, Prop, Vue } from 'vue-property-decorator';
    import { State, Getter, Action, Mutation, namespace } from 'vuex-class';

    import BarIconSelector from './bar/BarIconSelector.vue';
    import BarTileSelector from './bar/BarTileSelector.vue';
    import BarLimits from './bar/BarLimits.vue';
    import IconBase from './IconBase.vue';

    import { CustomMap } from '@/ts/custom-map';

    import * as CircularJSON from 'circular-json';
    import * as FS from 'fs';

    @Component({
        components: {
            BarIconSelector,
            BarTileSelector,
            BarLimits,
            IconBase,
        },
    })
    export default class Bar extends Vue {
        @State('map') private map!: CustomMap;

        private mounted(): void {
            const $navbarDropdownTogglers = Array.prototype.slice.call(document.querySelectorAll('.is-dropdown-toggler'), 0);
            if ($navbarDropdownTogglers.length > 0) {
                $navbarDropdownTogglers.forEach((element: any) => {
                    element.addEventListener('click', () => {
                        element.parentNode.classList.toggle('is-active');
                    });
                });
            }
            const $navbarAnchorTogglers = Array.prototype.slice.call(document.querySelectorAll('.is-anchor-toggler'), 0);
            if ($navbarAnchorTogglers.length > 0) {
                $navbarAnchorTogglers.forEach((element: any) => {
                    element.addEventListener('click', () => {
                        element.classList.toggle('is-active');
                    });
                });
            }

            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
            if ($navbarBurgers.length > 0) {
                $navbarBurgers.forEach((element: any) => {
                    element.addEventListener('click', () => {
                        const target = element.dataset.target;
                        const $target = document.getElementById(target);
                        element.classList.toggle('is-active');
                        if ($target !== null) {
                            $target.classList.toggle('is-active');
                        }
                    });
                });
            }
        }

        private readFile(input: any): void {
            const FILE: File | null = input.files[0];
            if (FILE !== null) {
                this.map.importFile(FILE);
            }
        }

        private readImage(input: any): void {
            const FILE: File | null = input.files[0];
            if (FILE !== null) {
                this.map.importImage(FILE);
            }
        }

        private screenshot(): void {
            this.map.screenshot();
        }

        private save(): void {
            this.map.saveState();

            const DATA = CircularJSON.stringify(this.map, (key: any, value: any): any => {
                const REGEXP: RegExp = new RegExp('^_.*$');
                if (REGEXP.test(key)) {
                    return undefined;
                }
                return value;
            }, '    ');
            const BLOB = new Blob([DATA], {type: 'text/plain'});
            const EVENT: any = document.createEvent('MouseEvents');
            const ANCHOR = document.createElement('a');
            ANCHOR.download = 'save.json';
            ANCHOR.href = window.URL.createObjectURL(BLOB);
            // ANCHOR.dataset.downloadurl = ['text/json', ANCHOR.download, ANCHOR.href].join(':');
            EVENT.initEvent('click');
            ANCHOR.dispatchEvent(EVENT);
        }
    }
</script>

<style scoped>
    .navbar {
        height: 80px;
        background-color: white;
        border-radius: 25px;

        margin-top: 5vh;
        margin-left: 10vw;
        margin-right: 10vw;

        padding: 2vw;
        padding-top: 15px;
        padding-bottom: 15px;

        -webkit-user-select: none;
    }
    </style>

    <style>
    .navbar-item .is-active {
        background-color: #f9f9f9;
        color: #4a4a4a;
    }

    .navbar-item:hover .is-active {
        color: #3273DC;
    }

    .navbar-dropdown {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-top: none;
        border-radius: 0 0 20px 20px;
        box-shadow: none;
    }

    .navbar-dropdown a.navbar-item {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .navbar-item .file-cta {
        padding-left: 0;
        padding-right: 0;
        background-color: white;
        border-color: white;
    }

    .navbar-item:hover .file-cta {
        color: #3273DC;
        background-color: #f9f9f9;
        border-color: #f9f9f9;
    }

    .file-label:hover .file-cta {
        background-color: #f9f9f9;
        border-color: #f9f9f9;
    }

    .is-horizontal-center {
        justify-content: center;
    }

    @media screen and (min-width: 1088px) {
        a.navbar-item.is-active:not(:hover) {
            background-color: #f9f9f9;
            color: #4a4a4a;
        }

        a.navbar-item.is-active:hover {
            color: #3273DC;
        }
    }
</style>
