<template>
    <div
        class="is-flex"
        v-html="icon
            .setFill(fill)
            .setIcon(name)
            .setNumber(number)
            .setSize(size)
            .setStroke(stroke)
            .setStrokeWidth(strokeWidth)
            .toSvg()"
    >
    </div>
</template>

<script lang="ts">
    import { Component, Prop, Vue } from 'vue-property-decorator';

    import { CustomIcon } from '@/ts/custom-icon';

    @Component
    export default class BaseIcon extends Vue {
        @Prop()
        private fill!: string;
        @Prop()
        private name!: string;
        @Prop()
        private stroke!: string;
        @Prop()
        private number!: number;
        @Prop()
        private size!: number;
        @Prop()
        private strokeWidth!: number;

        private icon: CustomIcon = new CustomIcon();
    }
</script>
