<template>
    <div class="hero-body is-paddingless">
        <div id="mapid"></div>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from 'vue-property-decorator';

    @Component
    export default class Map extends Vue { }
</script>

<style>
    /*
    GLOBAL
    */

    #mapid {
        width: 100vw;
        height: 100vh;
        z-index: 0 !important;
    }

    .has-small-horizontal-margin {
        margin: 0px 10px;
    }
    /*
    LEAFLET
    */

    .leaflet-touch .leaflet-control-attribution, .leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
        display: none;
    }
    
    .leaflet-popup-content {
        margin: 10px 0px;
    }

    .leaflet-popup-content .column {
        margin: 0rem 0.1rem;
    }

    .leaflet-popup-content .columns:not(:last-child) {
        margin-bottom: none;
    }

    .leaflet-popup-content .columns:last-child {
        margin-bottom: 0.2rem;
    }

    .leaflet-popup-content-wrapper {
        box-shadow: none;
        border-radius: 12px;
    }

    .leaflet-popup-tip {
        box-shadow: none;
    }

    .leaflet-container a.leaflet-popup-close-button {
        display: none;
    }
</style>
